<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/index.css}" href="index.css"/>
    <link href="css/bootstrap.css" rel="stylesheet">
    <title>Beer Tag &nbsp</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/"><h1>Beer Tag</h1></a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">

            <li><h2><a sec:authorize="isAuthenticated()" href="/beers/new">Create Beer &nbsp</a></h2></li>
            <li><h2><a sec:authorize="isAuthenticated()" href="/user/details">Your Profile &nbsp</a></h2></li>
            <li><h2><a sec:authorize="hasRole('ROLE_ADMIN')" href="/admin">Show Admin Panel &nbsp</a></h2></li>

            <li><form th:action="@{/login}" sec:authorize="!isAuthenticated()" method="get" >
                <input type="submit" value="Login"/>
            </form>
            </li>

            <li><form th:action="@{/register}" sec:authorize="!isAuthenticated()" method="get" >
                <input type="submit" value="Register"/>
            </form>
            </li>
            <li><form th:action="@{/logout}" sec:authorize="isAuthenticated()" method="post" >
                <input type="submit" value="Logout"/>
            </form>
            </li>

        </ul>
    </div>
</nav>

<br>
<br>
<br>
<br>
<div class="center">
    <h1 style=font-size:65px>Welcome to BeerLand 2.0!</h1>
    <h2 align="middle">If you can read this, you are not drunk enough!</h2>
    <h4 align="middle">Follow the link below to enter the world of beers</h4>
    <br>
    <a  align="middle" href="/beers"><h1>Show Beers</h1></a>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>
