<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/index.css}" href="index.css"/>
    <link href="css/bootstrap.css" rel="stylesheet">
    <title>Registration</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/"><h1>Beer Tag &nbsp</h1></a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
        </ul>
    </div>
</nav>



<!--<img src="https://cdn.shopify.com/s/files/1/2848/4722/products/black-500x500_400x.jpg?v=1523582025"-->
<!--     alt="black opacity" width="600" height="750" class="opacitycenter">-->



<br><br><br><br>
<form action="#" th:action="@{/register}" th:object="${user}" th:method="post" enctype="multipart/form-data"
      th:align="center">

    <a class="navbar-brand"><h1>Registration</h1></a>
    <br>
    <label>Username:</label>
    <br/>
    <input minlength="2" maxlength="25" th:type="text" name="username" placeholder="username" th:field="*{username}" required/>
    <br/>
    <label>Password:</label>
    <br/>
    <input minlength="5" maxlength="68" th:type="password" name = "password" placeholder="password" th:field="*{password}" required/>
    <br/>
    <label>Email:</label>
    <br/>
    <input minlength="7" maxlength="50" th:type="email" name = "email" th:field="*{email}" placeholder="email" required/>
    <br/>
    <label>First name:</label>
    <br/>
    <input minlength="2" maxlength="15" type="text" th:field="*{firstName}" placeholder="first name" required/>
    <br/>
    <label>Last name:</label>
    <br/>
    <input minlength="4" maxlength="20" type="text" th:field="*{lastName}"  placeholder="last name" required/>
    <br/>
    <br>
    <a>&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp</a>
    <input type="file" name="file" size="50" />
    <br/>
    <br>
    <input type="submit" value="Register"/>
    <br/>
</form>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>
