<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/index.css}" href="index.css"/>
    <link href="css/bootstrap.css" rel="stylesheet">
    <title>Beer Tag</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/"><h1>Beer Tag &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp  &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp </h1 ></a>
    <a class="navbar-brand"><h2> User Information</h2></a>
</nav>
<!--/*@thymesVar id="isEmpty" type="java"*/-->


<div>


    <div class="table">
        <div class="col" th:align="center" th:each="users : ${users}">

            <div class="cell"  th:text="Username + ': ' + ${users.username}" style=font-size:50px>Username</div>
            <br>
            <div class="cell" th:text="FirstName + ': ' + ${users.firstName}" style=font-size:50px>First name</div>
            <br>
            <div class="cell" th:text="LastName + ': ' + ${users.lastName}" style=font-size:50px>Last name</div>
            <br>
            <div class="cell" th:text="Email + ': ' + ${users.email}" style=font-size:50px>Email</div>
            <img th:src="${users.profilePicture}" width="100" height="100">

        </div>
    </div>
</div>

<div align="center" >
    <form th:action="@{/wishlist}" method="get">
        <input type="submit" value="Show Wish list"/>
    </form>

    <form th:action="@{/dranklist}" method="get">
        <input type="submit" value="Show Drank list"/>
    </form>

    <form th:action="@{/users/edit}" method="get">
        <input type="submit" value="Edit"/>
    </form>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>
