<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/index.css}" href="index.css"/>
    <link href="css/bootstrap.css" rel="stylesheet">
    <title>All Beers</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/"><h1>Beer Tag</h1></a>
</nav>
    <div class="accordion" id="collapsibleBeerList1">
        <div class="card" th:each="beer : ${beers}">
            <div class="card-header" th:id="heading + ${beer.id}">
                <h2 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse"
                            th:data-target="'#' + 'collapse' + ${beer.id}" aria-expanded="true"
                            th:aria-controls="collapse + ${beer.id}" th:text="${beer.name}">
                        Collapsible Beer List
                    </button>
                </h2>
            </div>
            <div th:id="'collapse' + ${beer.id}" class="collapse hide" th:aria-labelledby="heading + ${beer.id}"
                 data-parent="#collapsibleBeerList1" >
                <div class="card-body">
                    <div class="cell" th:text="ABV + ': ' + ${beer.abv}">0.0</div>
                    <div class="cell" th:text="Style + ': ' + ${beer.style.name}">Style</div>
                    <div class="cell" th:text="Brewery + ': ' + ${beer.brewery.name}">Brewery</div>
                    <div class="cell" th:text="Country + ': ' + ${beer.country.name}">Country</div>
                    <div class="cell" th:text="Description + ': ' + ${beer.description}">Description</div>
                    <img width="100" height="100" th:src="${beer.picture}">

                </div>
            </div>
        </div>
    </div>
</div>
<!--</div>-->

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>
