<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/index.css}" href="index.css"/>
    <link href="css/bootstrap.css" rel="stylesheet">
    <title>All Users</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/"><h1>Beer Tag &nbsp</h1></a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">

            <li><h2><a sec:authorize="hasRole('ROLE_ADMIN')" href="/admin">Show Admin Panel &nbsp</a></h2></li>

        </ul>
    </div>
</nav>

<!--<div th:if="${users.isEmpty()}">-->
<!--    <h2 class="center" style="font-size:100px">No Users</h2>-->
<!--</div>-->
<!--<div th:unless="${users.isEmpty()}">-->
    <div class="accordion" id="collapsibleUserList1">
        <div class="card" th:each="user : ${users}">
            <div class="card-header" th:id="heading + ${user.username}">
                <h2 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse"
                            th:data-target="'#' + 'collapse' + ${user.username}" aria-expanded="true"
                            th:aria-controls="collapse + ${user.username}" th:text="${user.username}">
                    </button>
                </h2>
            </div>

            <div th:id="'collapse' + ${user.username}" class="collapse hide"
                 th:aria-labelledby="heading + ${user.username}" data-parent="#collapsibleUserList1">
                <div class="card-body">
                    <div class="cell" th:text="Email + ': ' + ${user.email}">Style</div>
                    <div class="cell" th:text="Username + ': ' + ${user.username}">Username</div>
                    <div class="cell" th:text="Enabled + ': ' + ${user.enabled}">Enabled</div>
                     <img th:src="${user.profilePicture}" width="100" height="100">
                    <br>
<!--                    <form th:action="@{admin/users}" method="get">-->
<!--                        <select field="role">-->
<!--                            <option value="ROLE_USER" text="User">User</option>-->
<!--                            <option value="ROLE_ADMIN" text="Admin">Admin</option>-->
<!--                        </select>-->
<!--                        <input type="submit" value="Change Role"/>-->
<!--                    </form>-->
                    <form th:action="@{'/admin/users/disable/' + ${user.username}}" method="post">
                    <input type="submit" value="Disable User"/>
                    </form>
                </div>
            </div>
        </div>
    </div>
<!--</div>-->
<br>
<nav aria-label="Page navigation example">
    <ul class="pagination">
        <li class="page-item">
            <a class="page-link" href="/admin/users" aria-label="First">
                <span aria-hidden="true">First</span>
                <span class="sr-only">First</span>
            </a>
        </li>
        <li class="page-item"><a class="page-link" href="/admin/users/1">1</a></li>
        <li class="page-item"><a class="page-link" href="/admin/users/2">2</a></li>
        <li class="page-item"><a class="page-link" href="/admin/users/3">3</a></li>
        <li class="page-item">
            <a class="page-link" href="/admin/users/3" aria-label="Last">
                <span aria-hidden="true">Last</span>
                <span class="sr-only">Last</span>
            </a>
        </li>
    </ul>
</nav>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>
</html>
